.logo {
  width: 40%;
}

.star {
  position: fixed;
  animation: twinkle linear alternate infinite;
  transform: scale(0);
  opacity: 0.3;
  height: 2%;
  z-index: -1;
}

@keyframes twinkle {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.planet {
  position: fixed;
  z-index: 1;
  height: 15%;
  transform: rotate(0deg) translate(-50%, -50%);
  animation: shimmy linear 6s infinite;
  animation-timing-function: ease-in-out;
}

.planet1 {
  display: block;
  left: 15%;
  top: 15%;
}

.planet2 {
  display: block;
  left: 80%;
  top: 75%;
}

@keyframes shimmy {
  25% {
    transform: rotate(3deg) translate(-50%, -48%);
  }

  75% {
    transform: rotate(-3deg) translateY(-50%, -52%);
  }
}

@media screen and (max-width: 1100px) {
  .logo {
    width: 80%;
  }

  .planet1 {
    display: none;
  }

  .planet2 {
    display: none;
  }
}
