.background {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  top: 0px;
  left: 0px;
  z-index: -1;
  background: #2f3742;
}

.logo {
  width: 40%;
}

.star {
  position: fixed;
  animation: twinkle linear alternate infinite;
  transform: scale(0);
  opacity: 0.3;
  height: 2%;
}

@keyframes twinkle {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.planet {
  position: fixed;
  z-index: 1;
  height: 15%;
  transform: rotate(0deg) translate(-50%, -50%);
  animation: shimmy linear 6s infinite;
  animation-timing-function: ease-in-out;
}

.planet1 {
  display: block;
  left: 15%;
  top: 15%;
}

.planet2 {
  display: block;
  left: 80%;
  top: 75%;
}

@keyframes shimmy {
  25% {
    transform: rotate(3deg) translate(-50%, -48%);
  }

  75% {
    transform: rotate(-3deg) translateY(-50%, -52%);
  }
}

@media screen and (max-width: 1100px) {
  .logo {
    width: 80%;
  }

  .button {
    width: 60%;
  }

  .planet1 {
    display: none;
  }

  .planet2 {
    display: none;
  }

  .project-description {
    width: 90%;
  }
}

.btn {
  min-width: 18rem;
}

.button1 {
  background: #02ee60;
  margin-top: 80px;
  position: relative;
}

.button2 {
  background: #5db0f2;
  margin-top: 50px;
  position: relative;
}

.full-page-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

.main-container {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.full-page-container {
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow-y: inherit;
}

.project-description-container {
  z-index: 10;
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.close-icon {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 4rem;
  color: var(--c-text);
}

.project-description {
  width: 60%;
  padding-top: 5rem;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button3 {
  background: #02ee60;
  margin-top: 50px;
}

.button4 {
  background: #5db0f2;
  margin-top: 50px;
  margin-bottom: 50px;
}
