.star {
  position: fixed;
  animation: twinkle linear alternate infinite;
  transform: scale(0);
  opacity: 0.3;
  height: 2%;
  z-index: -1;
}

@keyframes twinkle {
  0% {
    transform: scale(0);
    opacity: 0.3;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}
